.Cat {
  position: relative;
  width: 700px;
}

.Cat-body {
	position: absolute;
	top: 0;
  left: 0;
}

.Cat-left-eye {
  position: absolute;
	top: 130px;
	left: 150px;
}

.Cat-right-eye {
  transform: scaleX(-1);
  position: absolute;
	top: 130px;
	left: 250px;
}

.Cat-left-iris {
  position: absolute;
	top: 160px;
  left: 190px;
  animation: 2s Move-eyes 1s ease-in;
}

.Cat-right-iris {
  position: absolute;
	top: 160px;
  left: 280px;
  animation: 2s Move-eyes 1s ease-in;
}

.Cat-mouth {
  position: absolute;
	top: 240px;
  left: 185px;
}

.Cat-left-paw {
  transform: scaleX(-1);
  position: absolute;
	top: 260px;
  left: -10px;
  z-index: -1;
}

.Cat-right-paw {
  position: absolute;
	top: 260px;
  left: 390px;
  z-index: -1;
}

.Cat-tail {
  position: absolute;
  top: 250px;
  left: 420px;
  z-index: -1;
  animation: 1s Move-tail 3s 2 cubic-bezier(.17,.67,.73,.69);
}

.Cat-mouth-smile {
  position: absolute;
	top: 240px;
  left: 185px;
  animation: 3s Smile 2s forwards;
}

.Cat-left-paw-with-beer {
  transform: scaleX(-1);
  position: absolute;
	top: 230px;
  left: -35px;
  z-index: -1;
}

.Look-at-left-paw {
  animation: LookAtLeftPaw 1s 2 ease-in;
}

.Move-left-paw {
  animation: 1s MoveLeftPaw 2s 3 ease-in;
}


@keyframes Move-eyes{
  25% {transform: translate(20px); }
  75% {transform: translate(20px); }
  100% {transform: translate(0px); }
}

@keyframes Move-tail{
  50% {transform:  translate(-10px, -10px) rotate(-5deg); }
  100% {transform: rotate(0deg); }
}

@keyframes Smile {
  25% {transform: scale(1.4)}
  75% {transform: scale(1.4)}
  100% {transform: scale(1)}
}

@keyframes MoveLeftPaw {
  50% {transform: scaleX(-1) rotate(10deg); }
  100% {transform: scaleX(-1) rotate(0deg); }
}

@keyframes LookAtLeftPaw {
  25% {transform: translate(-10px, 10px); }
  75% {transform: translate(-10px, 10px); }
  100% {transform: translate(0px); }
}




